name: Ansible Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Lint Ansible Playbooks
      uses: ansible/ansible-lint-action@master
      with:
        targets: "room-assistant.yml"
